.mainContainer {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 10px auto;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.taskImage {
  display: flex;
  justify-content: center;
  width: 70%;
}