.imageUploadContainer {
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  width: 280px;
  height: 200px;
}

.imagePreview {
  height: inherit;
  width: inherit;
  background-size: cover;
}
