.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 10px auto;
}

.inputContainer{
  width: 30%;
  margin: 0 0 15px 0;
}

.heading {
  margin: 10px auto;  
  font-size: 1.2em;
  color: #9DC2E5;
  font-weight: 600;
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 70%;
}

.imagePreview {
  object-fit: cover;
}