.modalContainer {
  display: flex;
  justify-content: center;
  min-width: 350px;
}

.modalBtn {
  align-self: flex-end;
  color: #ff0000;
}

.modalHeading {
  align-self: center;
  font-size: 1.2rem;
  color: #71b0eb;
  font-weight: bold;
}

.addBtn {
  margin-left: 10px;
  font-size: 0.8rem !important;
  font-family: 'Times New Roman', Times, serif !important;
}