.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.mainHeading {
  margin: 10px;
  font-size: 1.3em;
  font-weight: 600;
}

.itemHeading{
  padding: 5px;
  margin: 5px;
  border: 2px solid #9DC2E5;
  border-radius: 20px;
  transition: all 0.4 ease;

  &:hover {
    background-color: #9DC2E5;
    color: #ffffff;
  }}

  .themeContent {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px 20px;
  }

  .themeContentHidden {
    display: none;
  }

  .materialWrapper {
    display: flex;
    align-items: center;
;
  }

  .materialLink{
    margin-left: 5px;
    text-decoration: none;
    color: #0f5393;
    font-weight: 600;
  }