.container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.answerBlock {
  display: flex;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.fieldName {
  margin-bottom: 5px;
  color: #71b0eb;
}

.field {
  width: 50%;
  border: none;
  border-bottom: 2px solid #797676;
  margin-bottom: 15px;
  background-color: none;
  font-size: 0.9rem;

  &:focus {
    border-bottom: 2px solid #71b0eb;
  }
}