.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-bottom: 2px solid #d6d3d3;
}

.imgWrapper {
  width: 280px;
  height: 200px;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.cardImg {
  height: inherit;
  width: inherit;
  background-size: cover;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.heading {
  color: black;
  font-size: 1em;
  padding: 10px 0 5px 0;
}

.deleteIcon {
  margin-left: 10px;
  font-size: 1.3rem;
  color: rgb(238, 105, 105);
  cursor: pointer;
}
