.container {
  display: flex;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 280px;
  height: 200px;
  border: 2px solid #d6d3d3;

  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }}

  .cardImg {
    height: inherit;
    width: inherit;
    background-image: url('https://nubip.edu.ua/sites/default/files/u34/common-cybersecurity-issues.jpg');
    background-size: cover;
  }

.heading {
  color: black;
  font-size: 1em;
  padding: 10px 0 10px 0;
}
