.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 280px;
  height: 200px;
  border: 2px solid #d6d3d3;

  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }
}

.cardImg {
  height: 180px;
  width: inherit;
  background-size: cover;
}

.heading {
  color: black;
  font-size: 1em;
  padding: 10px 0 10px 0;
}
